     
        caption {background: darkblue}
        



/* styles.css */

table {
    width: 50%;
    margin: 0 auto; /* لتوسيط الجدول في المنتصف */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
